/* center children with flex */
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  /* scrollbar takes up viewport width, without this we get a horizontal scrollbar */
  max-width: 100%;
}

.main {
  max-width: 800px;
  width: 100%;
  font-size: calc(1em + 0.3vw);
  padding: 8px;
}

.main p {
  text-align: justify;
}
